html{
    background-color: #e5e5e5;
}

body{
    overflow: hidden;
}

.home_header{
    display: flex;
    position: sticky;
    top: 0%;
    max-height: 6em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.container{
    display: flex;
    height: 76vh;
}