.postdp{
    width: 32px;
    height: 32px;
}

.post{
    background-color: var(--primary);
    display: grid;
    min-width: 15em;
    max-width: 25em;
    height: fit-content;
    margin: auto auto auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.timeline{
    display: block;
}

.post_user{
    display: flex;
    column-gap: 10px;
}

.username{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.post_description{  
    height: 200px;
    color: white;
    resize: vertical;
    font-size: 14px;
}

.post_gallery{
    display: flex;
}

.post_image{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 400px;
    aspect-ratio: 1/1;
}

.post_list{
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    min-width: 20em;
    max-width: 40%;
    font-size: 14px;
}

.post_table{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: normal !important;
}

.post_footer{
    margin-top: 10px;
    display: inline;
}

.interact{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    margin-top: 20px;
}

.interact > .button{
    min-width: 4em;
    width: 6em;
    max-width: 6em;
    min-height: 3em;
    max-height: 3em;
}

#new-post-form{
    color: var(--text);
    display: grid;
    width: 100%;
    row-gap: 10px;
}