@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary: #00897B;
    --primary-button: #00796B;
    --primary-hover: #00695C;
    --primary-select: #004D40;


    --text: #E0F7FA;
    --text-link: #E0F7FA;
    --text-hover:  #0097A7;
    --text-select: 00838F;

    --textbox: rgba(255,255,255,30%);
    --textbox-focus: rgba(255,255,255,20%);

    --default_image: url("../img/divisoria.jpg");
}

html{
    font-family: 'Open Sans', sans-serif !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;  
    background-color: whitesmoke;
    scroll-behavior: smooth;
}

footer{
    background-color: var(--primary);
    color: var(--text);
    position: sticky;
    margin-top: 2%;
}

button, .button, select{
    border-radius: 10px;
    border: none;
    background-color: var(--primary-button); /*600*/
    font-family: inherit;
    color:white;
    cursor: pointer;
    font-size: 14px !important;
    height: 5vh;
}

select{
    padding-left: 8px;
}

button:hover, .button:hover, select:hover{
    background-color: var(--primary-hover); /*700*/
}

button:active, .button:active, select:focus{
    background-color: var(--primary-select); /*800*/
}

a{
    color: var(--text);
    text-decoration: none;
}

a:visited {
    color: var(--text);
}

a:hover {
    color: var(--primary-hover);
}

a:active {
    color: var(--text-select); /*800*/
}

table{
    width: 100%;
    border-spacing: 0px;
    border: none;
    color: var(--text);
}

label{
    font-weight: bold;
}

.textfield{
    border-radius: 10px;
    background-color: rgba(255,255,255,30%);
    color: var(--text);
    vertical-align: middle;
    border: none;
    font-family: inherit;
    height: 40px;
    font-size: 14px;
    padding-left: 2%;
    padding-right: 2%;
}

.textfield:focus{
    background-color: var(--textbox-focus);
}

textarea{
    border-radius: 10px;
    background-color: rgba(255,255,255,30%);
    color: var(--text);
    vertical-align: middle;
    border: none;
    font-family: inherit;
    height: 40px;
    font-size: 14px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

textarea:focus{
    background: var(--textbox-focus);
}

.card{
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.profilepic{
    border-radius: 50%;
    border: none;
}

.profilepic:hover{
    filter:brightness(80%);
}

.profilepic:active{
    filter:brightness(60%);
}

.brand_banner{
    background-color: var(--primary);
    color: var(--text);
    position: relative;
    margin-bottom: 2%;
    max-height: fit-content;
    z-index: 100;
}
