<!--This could be used for other error codes of HTTPS-->

<div class="card" style="position: relative; display:grid;width:50%; margin-top:8vh; margin-bottom: auto; margin-left: auto; margin-right: auto;">
    <p style="margin-top: 0px; margin-bottom: 0px; font-size: 80px;">{{errID}}</p>
    <br>
    <p style="font-size: 32px;margin-top: 0px; margin-bottom: 0px;">{{errMsg}}</p>
    <br>
    <img onerror="this.src='/img/default/imagenotfound.webp'" loading='lazy'  style="width:100%;" src="/img/default/404.webp">
    <br>
    <a href="/" style="font-size: 20px;text-align:center;">Budol Finds</a>
</div>

<script>
    setTimeout(function(){alert('Redirecting you home page...'); window.location.href="/" ;},3000);
</script>