<link rel="stylesheet" href="/css/login.css">

<script type="module" src="/js/login.js"></script>

<header class="card brand_banner">
    <h1 class="banner_title">
        <a id="logo-btn">Budol Finds</a>
    </h1>
</header>

<div id="login" class="login card">
    <form id="loginform" name="loginform" class="loginform" enctype="multipart/form-data">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="textfield" placeholder="Username"/> 
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="textfield" placeholder="Password"/>
        <div id="errorText"></div>
        <div class="login-buttons">
            <input type="submit" id="login-btn" value="Login" class="button"/>
            <input type="button" id="signup-btn" value="Sign Up" class="button"/>
        </div>
    </form>
</div>
<footer class="card">
    <p style="text-align: right;"><a href="https://github.com/jm55DLSU/CCAPDEV-MCO">©2022 CCAPDEV G10 S15/S16</a></p>
</footer>