<div class="card" style="position: relative; display:grid;width:50%; margin-top:8vh; margin-bottom: auto; margin-left: auto; margin-right: auto;">
    <p style="margin-top: 0px; margin-bottom: 0px; font-size: 80px;">Logging out...</p>
    <br>
    <p style="font-size: 32px;margin-top: 0px; margin-bottom: 0px;">Come again soon!</p>
    <br>
    <img style="width:100%;" src="/img/default/bye.webp">
    <br>
    <a href="/" style="font-size: 20px;text-align:center;">Budol Finds</a>
</div>

<script src="./js/logout.js"></script>