<div class="card" style="position: relative; display:grid;width:50%; margin-top:8vh; margin-bottom: auto; margin-left: auto; margin-right: auto;">
    <p style="margin-top: 0px; margin-bottom: 0px; font-size: 80px;">Logging out...</p>
    <br>
    <p style="font-size: 32px;margin-top: 0px; margin-bottom: 0px;">Come again soon!</p>
    <br>
    <img onerror="this.src='/img/default/imagenotfound.webp'" loading='lazy'  style="margin: auto auto auto auto; width:40%;" src="/img/default/bye.webp">
    <br>
    <br>
    <img onerror="this.src='/img/default/imagenotfound.webp'" loading='lazy'  style="margin: auto auto auto auto; width:20%;" src="/img/favicons/android-chrome-512x512.webp">
</div>
<script src="./js/logout.js"></script>
<script>
    userId = '{{userId}}';
</script>