<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/profile.css">

<script src="/js/banner.js"></script>
<script src="/js/profile.js"></script>

<header class="card brand_banner">
    <div class="banner_left">
        {{>bannertitle}}
        <nav class="menu">
            <button id="home-btn" class="menu_button">Home</button>
            {{>menu_categories}}
            <input id="search-txt" name="search-txt" class="textfield" />
            <button id="search-btn" class="menu_button">Search</button>
            <button id="account-settings-btn" class="menu_button">Settings</button>
            <button id="logout-btn" class="menu_button">Logout</button>
        </nav>
    </div>
    <div class="banner_right">
        <a id="userbutton"><img id="profile-pic" class="profilepic" src='{{#if currentUser.profilepic}}{{currentUser.profilepic}}{{else}}"../img/default/default_dp.png"{{/if}}'></a>
    </div>
</header>

<div class="timeline">
    {{#if posts}}  
    {{#each posts}}
        {{>postcards}}
    {{/each}}
    {{else}}
        {{>no_postcard}}
    {{/if}}
</div> <!--END OF TIMELINE-->