<option value="">Category</option>
<option value="Audio">Audio</option>
<option value="Babies and Kids">Babies and Kids</option>
<option value="Cameras">Cameras</option>
<option value="Gaming">Gaming</option>
<option value="Groceries">Groceries</option>
<option value="Health and Personal Care">Health and Personal Care</option>
<option value="Hobbies and Stationery">Hobbies and Stationery</option>
<option value="Home and Living">Home and Living</option>
<option value="Home Appliances">Home Appliances</option>
<option value="Home Entertainment">Home Entertainment</option>
<option value="Laptops and Computers">Laptops and Computers</option>
<option value="Makeup and Fragrances">Makeup and Fragrances</option>
<option value="Men's Apparel">Men's Apparel</option>
<option value="Men's Bags and Accessories">Men's Bags and Accessories</option>
<option value="Men's Shoes">Men's Shoes</option>
<option value="Mobiles and Gadgets">Mobiles and Gadgets</option>
<option value="Mobiles Accessories">Mobiles Accessories</option>
<option value="Motors">Motors</option>
<option value="PetCare">Pet Care</option>
<option value="Sports and Travel">Sports and Travel</option>
<option value="Toys, Games and Collectibles">Toys, Games and Collectibles</option>
<option value="Women Accessories">Women Accessories</option>
<option value="Women's Apparel">Women's Apparel</option>
<option value="Women's Bags">Women's Bags</option>
<option value="Women's Shoes">Women's Shoes</option>