<div id="" class="post card"> <!--BUILD ID BASED ON POST ID/HASH; SINGLE POST-CARD BLOCK - REPETITIVE-->
    <div style="margin-left: auto; margin-right: auto; display:grid;">
        <h1 style="text-align: center;">Post or User not found</h1>
        <img onerror="this.src='/img/default/imagenotfound.webp'" loading='lazy'  src="/img/default/tumbleweed.gif" style="max-width:500px; margin-left:auto; margin-right:auto;">
    </div>
</div>